:root{
  --dark-color: #1F2542;
  --light-color: #E8F1F3;
  --medlight-color: #C1E8EE;
  --accent-color-a: #FE5F55;
  --accent-color-b: #EF529E;

  --medlight-color-transparent: rgba(193, 232, 238, 0.2);
  --medlight-color-transparent-less: rgba(193, 232, 238, 0.4);

  /* --font-a: font-family('Montserrat'); */
}

body{
  background-color: var(--dark-color);
}

body *:not(h2) {
  border-radius: 10px;
}

h2 {
  color: var(--accent-color-a);
  border-radius: 0px 0px 10px 10px;
}
.App {
  text-align: center;
  overflow: auto;
  background-color:var(--dark-color);
  color: var(--light-color);
}

#pageheader{
  height: 80px;
  width: 100%;
  align-items: center;
  margin: 0px;
  align-content:center;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: var(--accent-color-a);
  color: var(--dark-color)
}

#contents{
  display:flex;
  height: 100%;
  justify-content: space-between;
}

IconButton{
  background-color: grey;
}

.grid-image-wrapper{
  position:relative;
  height: 160px;
  width: 160px;
}

.grid-song{
  height:fit-content;
  min-height: 220px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  gap: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0; /* initially hide overlay */
  transition: opacity 0.1s ease; 
}

.grid-image-wrapper:hover .overlay {
  opacity: 1;
}

p{
  margin:0px;
  text-align: left;
}

.grid-song-name{
  font-size:20px;
}

.artist{
  color: var(--medlight-color);
  color: var(--accent-color-b);
  text-shadow: white;
}

Select{
  border-radius: 10px !important;
}

.grid-artist{
  font-size:16px;
}

.grid-item-buttons{
  bottom: 5px;
  right: 5px;
  position: absolute;
  display: flex;
  align-items: flex-end;
}

.grid-fav-button{
  color:black;
}

.grid-song-image{
  height: 160px;
  width: 160px;
  transition: filter 0.3s ease;
}

#discovery-panel{
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.songs-grid{
  display:flex;
  flex-wrap:wrap;
  gap: 50px;
  justify-content: space-evenly;
}

#favorites-panel{
  padding-top:30px;
  width: fit-contents;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px var(--medlight-color) solid;
}

#num-favorites-text{
  color: var(--accent-color-a);
  font-size: 16px;
}

.favorites-list{
  display:flex;
  flex-direction: column;
  gap:20px;
  padding:20px;
  width: 372px;
}

.fav-song-banner{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  width: 372px;
}

.fav-song-banner:hover{
  background-color: var(--medlight-color-transparent);
  transition: background-color 0.3s ease;
}

.banner-image{
  height:92px;
  width:92px;
}

.banner-text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner-text p{
  margin: 0px;
  font-size: 16px;
  width: 100%;
}

#sort-select-label{
  border: solid black 2px;
}

.filter-buttons{
  /* color: secondary;  TODO: need to see how to get this to work with MUI */
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.favorites-filter-buttons{
  justify-content: flex-start;
  max-width: 372px;
}

.discovery-filter-buttons{
  display: flex;
  justify-content: space-evenly ;
  
}

.genre-filter-button{
  color: var(--medlight-color) !important;
  width: fit-content;
  font-size: 12px !important;
  border: solid var(--medlight-color) 0.1px !important;
  border-radius: 10px !important;
}

.MuiToggleButton-root.Mui-selected {
  background-color: var(--medlight-color-transparent) !important;
}

.MuiToggleButton-root.Mui-selected:hover {
  background-color: var(--medlight-color-transparent-less) !important;
}

.MuiInputBase-root{
  color: var(--medlight-color) !important;
  border: solid 0.1px var(--medlight-color) !important;
  padding-left:10px;
  padding-right:10px;
  width: 30%;
  min-width: fit-content;
  justify-self: center;
}

.MuiSelect-icon {
  color: var(--medlight-color) !important;
}

.info-button{
  color: var(--medlight-color) !important;
  position: absolute;

}

.select-favorites{
  margin: 10px;
  height: 49px;
}

.info-icon{
  /* color: var(--medlight-color) !important; */
  color: rgba(193, 232, 238, 0.7);
}

.top-bar-wrapper{
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.reset-button{
  border-radius: 10px !important;
  border: solid 0.1px var(--medlight-color) !important;
  color: var(--light-color) !important;
}

.MuiInput-underline:after{
  border-bottom: none !important;
}

.MuiInput-underline:before{
  border-bottom: none !important;
}

.MuiInput-root.Mui-selected:hover {
  background-color: var(--medlight-color-transparent-less) !important;
}

.top-bar-favs-panel{
  margin-top: 10px;
  margin-bottom: 10px;
}

.fav-song-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
  width: 372px;
  background-color: transparent; /* Set initial background color */
  transition: background-color 0.3s ease; /* Add transition effect */
}


.banner-text {
  flex: 1;
  margin-left: 20px;
}


.banner-fav-button {
  margin-right: 10px;
  color: var(--accent-color-b)
}
